
<div class="container">
    <div class="row">
       <div class="col-6">
          <div class="col-12">
             <div class="form-group">
                <label for="fn">First Name</label>
                <input type="text" class="form-control form-control-sm" name="firstName" id="fn" ngModel>
             </div>
 
             <div>
                <label for="contactOption" >How should we contact you?</label>
                <br>
                <input type="radio" name="phone" [(ngModel)]="selectedOption" id="phoneNumber" value="phone">
                <label for="phoneNumber"  class="mr-5 ml-1" > Phone Number</label>
                <input type="radio" name="phone" [(ngModel)]="selectedOption" id="phoneNumber" value="email" class="ml-5">
                <label for="phoneNumber" class="ml-1">Email</label>
             </div>
          </div>
       </div>
       <div class="col-6 md">
          <div class="form-group">
             <label for="ln">Last Name</label>
             <input type="text" class="form-control form-control-sm" name="lastName" id="ln">
          </div>
          <div *ngIf="selectedOption === 'phone'">
             <label for="phoneNumber">Phone Number:</label>
             <input type="text" id="phoneNumber" class="form-control form-control-sm" [(ngModel)]="phoneNumber">
          </div>
 
          <div *ngIf="selectedOption === 'email'">
             <label for="emailAddress">Email Address</label>
             <input type="email" id="emailAddress" class="form-control form-control-sm" [(ngModel)]="emailAddress">
          </div>
       </div>
    </div>
 </div>